PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
FIREBASE_SERVICE_ACCOUNT_JSON=
FLW_PUBLIC_KEY=
FLW_SECRET_KEY=
FLW_WEBHOOK_SECRET=
DIDIT_API_KEY=

# Email Provider - set to "resend" now, "zeptomail" later
EMAIL_PROVIDER=resend

# Resend
RESEND_API_KEY=

# ZeptoMail Configuration
ZEPTOMAIL_API_KEY=
ZEPTOMAIL_FROM_EMAIL=
ZEPTOMAIL_FROM_NAME="CheckMate"
